name: iOS-build

on:
  workflow_dispatch:

permissions:
  contents: write  # Разрешает создание releases и загрузку assets

jobs:
  build-ios:
    name: PhoneBookIOS
    runs-on: macos-14
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64

      - name: Clean and install dependencies
        run: |
          flutter clean
          rm -f pubspec.lock
          flutter pub get

      - name: Install CocoaPods
        run: |
          brew install cocoapods
          pod --version

      - name: Set up Xcode project
        run: |
          cd ios
          sed -i '' 's/platform :ios, .*/platform :ios, "12.0"/' Podfile
          pod deintegrate || true
          pod cache clean --all
          pod install --repo-update

      - name: Build iOS
        run: flutter build ios --release --no-codesign

      - name: Create IPA
        run: |
          cd build/ios/iphoneos
          mkdir -p Payload
          mv Runner.app Payload/
          zip -qry9 FlutterIpaExport.ipa Payload

      - name: Create Release & Upload IPA
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0.1
          name: iOS v1.0.0
          body: |
            iOS release build
            - Flutter IPA for distribution
          files: build/ios/iphoneos/FlutterIpaExport.ipa
          draft: false
          prerelease: false
